@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Define theme values */
  /* ---------------- DARK THEME ---------------- */
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #afbab7;
  --clr-primary-a10: #b8c1bf;
  --clr-primary-a20: #c0c9c7;
  --clr-primary-a30: #c9d1ce;
  --clr-primary-a40: #d2d8d6;
  --clr-primary-a50: #dbe0de;

  /** Theme surface colors */
  --clr-surface-a0: #0a0a73;
  --clr-surface-a10: #332382;
  --clr-surface-a20: #503c92;
  --clr-surface-a30: #6955a2;
  --clr-surface-a40: #826fb1;
  --clr-surface-a50: #9b8ac1;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #281b7a;
  --clr-surface-tonal-a10: #443189;
  --clr-surface-tonal-a20: #5c4897;
  --clr-surface-tonal-a30: #7460a6;
  --clr-surface-tonal-a40: #8b79b5;
  --clr-surface-tonal-a50: #a292c4;

  /* ---------------- LIGHT THEME ---------------- */
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #0a0a73;
  --clr-primary-a10: #241875;
  --clr-primary-a20: #352577;
  --clr-primary-a30: #423179;
  --clr-primary-a40: #4e3e7a;
  --clr-primary-a50: #594b7c;

  /** Theme surface colors */
  --clr-surface-a0: #ffffff;
  --clr-surface-a10: #f0f0f0;
  --clr-surface-a20: #e1e1e1;
  --clr-surface-a30: #d3d3d3;
  --clr-surface-a40: #c5c5c5;
  --clr-surface-a50: #b6b6b6;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #e8e4f1;
  --clr-surface-tonal-a10: #dcd8e4;
  --clr-surface-tonal-a20: #d0cdd7;
  --clr-surface-tonal-a30: #c4c2ca;
  --clr-surface-tonal-a40: #b8b6bd;
  --clr-surface-tonal-a50: #adabb1;

  --light-background: #ffffff;
  --light-foreground: #171717;
  --light-secondary-background: #201c74;

  --dark-background: #0A0A72;
  --dark-foreground: #ededed;
  --dark-secondary-background: #201c74;

  /* Default to light theme (used when no system or user override) */
  --background: var(--light-background);
  --foreground: var(--light-foreground);
  --secondary-background: var(--light-secondary-background);
}

/* If system prefers dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --secondary-background: var(--dark-secondary-background);
  }
}

/* If user explicitly sets theme */
[data-theme='dark'] {
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
  --secondary-background: var(--dark-secondary-background);
}

[data-theme='light'] {
  --background: var(--light-background);
  --foreground: var(--light-foreground);
  --secondary-background: var(--light-secondary-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }
}

/* Hide scrollbars globally but keep scroll functionality */
/* For Chrome, Edge, Safari */
*::-webkit-scrollbar { width: 0px; height: 0px; background: transparent; display: none; }
/* For Firefox */
* { scrollbar-width: none; /* Hide scrollbar */ -ms-overflow-style: none; /* IE and Edge */ }

/* SWEET ALERTS CUSTOM CSS */

.custom-swal-popup { @apply bg-[var(--secondary-background)] rounded-lg shadow-lg; }

.custom-swal-title { @apply text-white; }

.confirm-btn { @apply bg-blue-400 text-white px-4 py-2 rounded hover:bg-blue-600; }

.error-btn { @apply bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600; }
