@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Define theme values */
  /* --------------------------------------------- */
  /* ---------------- DARK THEME ---------------- */
  /* --------------------------------------------- */
  --dt-text: #e7e7f4;
  --dt-background: #0a0a75;
  --dt-primary: #a8a9cd;
  --dt-secondary: #171793;
  --dt-accent: #1414f0;
  --dt-headings: #60a5fa;
  /* --------------------------------------------- */
  /* ---------------- LIGHT THEME ---------------- */
  /* --------------------------------------------- */
  --lt-text: #23233a;
  --lt-background: #f5f7fa;
  --lt-primary: #191af8;
  --lt-secondary: #60a5fa;
  --lt-accent: #3a5afe;
  --lt-headings: #23233a;
  /* --------------------------------------------- */
  /* ------------ CSS VARIABLES TO USE ----------- */
  /* --------------------------------------------- */
  /* Default to light theme (used when no system or user override) */
  --text: var(--lt-text);
  --background: var(--lt-background);
  --primary: var(--lt-primary);
  --secondary: var(--lt-secondary);
  --accent: var(--lt-accent);
  --headings: var(--lt-headings);
}

/* If system prefers dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--dt-text);
    --background: var(--dt-background);
    --primary: var(--dt-primary);
    --secondary: var(--dt-secondary);
    --accent: var(--dt-accent);
    --headings: var(--dt-headings);
  }
}

/* If user explicitly sets theme */
[data-theme='dark'] {
  --text: var(--dt-text);
  --background: var(--dt-background);
  --primary: var(--dt-primary);
  --secondary: var(--dt-secondary);
  --accent: var(--dt-accent);
  --headings: var(--dt-headings);
}

[data-theme='light'] {
  --text: var(--lt-text);
  --background: var(--lt-background);
  --primary: var(--lt-primary);
  --secondary: var(--lt-secondary);
  --accent: var(--lt-accent);
  --headings: var(--lt-headings);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }
}

/* Hide scrollbars globally but keep scroll functionality */
/* For Chrome, Edge, Safari */
*::-webkit-scrollbar { width: 0px; height: 0px; background: transparent; display: none; }
/* For Firefox */
* { scrollbar-width: none; /* Hide scrollbar */ -ms-overflow-style: none; /* IE and Edge */ }

/* SWEET ALERTS CUSTOM CSS */

.custom-swal-popup { @apply bg-[var(--secondary)] rounded-lg shadow-lg; }

.custom-swal-title { @apply text-[var(--text)]; }

.confirm-btn-dark { @apply bg-[var(--headings)] text-[var(--text)] px-4 py-2 rounded hover:bg-[var(--accent)]; }

.confirm-btn-light { @apply bg-blue-500 text-[var(--text)] px-4 py-2 rounded hover:bg-[var(--accent)]; }

.error-btn { @apply bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600; }
