@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ---------------- LIGHT THEME ---------------- */

:root {
  /* Define actual theme values as design tokens */
  --light-background: #ffffff;
  --light-foreground: #171717;
  --light-secondary-background: #201c74;

  --dark-background: #0A0A72;
  --dark-foreground: #ededed;
  --dark-secondary-background: #201c74;

  /* Default to light theme (used when no system or user override) */
  --background: var(--light-background);
  --foreground: var(--light-foreground);
  --secondary-background: var(--light-secondary-background);
}

/* If system prefers dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --secondary-background: var(--dark-secondary-background);
  }
}

/* If user explicitly sets theme */
[data-theme='dark'] {
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
  --secondary-background: var(--dark-secondary-background);
}

[data-theme='light'] {
  --background: var(--light-background);
  --foreground: var(--light-foreground);
  --secondary-background: var(--light-secondary-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }
}

/* Hide scrollbars globally but keep scroll functionality */
/* For Chrome, Edge, Safari */
*::-webkit-scrollbar { width: 0px; height: 0px; background: transparent; display: none; }
/* For Firefox */
* { scrollbar-width: none; /* Hide scrollbar */ -ms-overflow-style: none; /* IE and Edge */ }

/* SWEET ALERTS CUSTOM CSS */

.custom-swal-popup { @apply bg-[var(--secondary-background)] rounded-lg shadow-lg; }

.custom-swal-title { @apply text-white; }

.confirm-btn { @apply bg-blue-400 text-white px-4 py-2 rounded hover:bg-blue-600; }

.error-btn { @apply bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600; }
